<div class="about-us">
	<section class="about-us--banner" style="background-image: url('images/abt.jpg')">
		<div class="title">
			About us
		</div>
	</section>
</div>

<section class="our-services">
    <div class="container">
        <div class="sub-title">Our Core Values</div>
        <div class="title">Integrity, Trust and Innovation</div>
        <div class="caption">Curve delivers unique messages using technology to develop better relationships,
            and sustain the growth of organizations, institutions and the local communities.</div>
        <div class="card-wrap">
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="title">Mission</div>
                <div class="caption">To provide unique mileage for our clients through strategic planning and
                    executions, using cutting-edge innovations, skills and modern technologies to
                    achieve positive impacts in service delivery.</div>
            </div>
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="title">Vision</div>
                <div class="caption">To be the preferred channel of communications, projecting brands in Africa to the World.</div>
            </div>
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="title">History</div>
                <div class="caption">Though founded in 2012, Curve has positioned Africa as a beckon of hope,
                    showcasing investment opportunities and colorful lifestyles from the West to the East,
                    North to the South.</div>
            </div>
        </div>
    </div>
</section>

<section class="event">
	<div class="container">
		<div class="event-wrap">
			<div class="content">
				<div class="title">
					<span class="line"></span>
					The Curve Advantage
				</div>
				<div class="text">Curve Communications is made up of experienced and dedicated professionals
                    with a rich mix of journalists, marketing experts and event planners, all to achieve a
                    distinct blend of highly individual talents.</div>
			</div>
			<div class="image">
				<img src="images/about_us_img_02.jpg" alt="">
			</div>
		</div>
	</div>
</section>
	