<div class="about-us">
    <section class="about-us--banner" style="background-image: url('images/contact.jpg')">
        <div class="title">
            Contact
        </div>
    </section>
</div>
<section class="our-services">
    <div class="container">
        <div class="sub-title">Find Us</div>
        <div class="title">Start a Conversation</div>
        <div class="caption">Our innovative concepts and approach to brand communication leads to new
            global appeal for collaborations and development.</div>
        <div class="contact-card">
            <div class="card">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="caption">4th Floor, Polystar Building, 2nd Roundabout, Lekki Phase 1, Lagos Nigeria</div>
            </div>
            <div class="card">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="caption"><a href="tel:+23413426311">+234 1 3426311</a></div>
            </div>
            <div class="card">
                <div class="icon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></div>
                <div class="caption"><a href="mailto:info@curvenigeria.com">info@curvenigeria.com</a></div>
            </div>
        </div>
    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15858.63092138406!2d3.4606776858589576!3d6.437985197913537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s4th%20Floor%2C%20Polystar%20Building%2C%202nd%20Roundabout%2C%20Lekki%20Phase%201%2C%20Lagos%20Nigeria!5e0!3m2!1sen!2suk!4v1646382766284!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
        