<section class="home-banner">
  <div class="container">
    <div class="home-banner--wrapper">
      <div class="home-banner--info-section">
        <div class="home-banner--info-section-subtitle">
          <span class="line"></span> Mobile Thinking
        </div>
        <div class="home-banner--info-section-title">
          Integrity, Trust and Innovation
        </div>
        <div class="home-banner--info-section-caption">
          Our ITI (Integrity, Trust and Innovation) model of communication helps
          to build brands reputation so it stands out above the market place
          clutter.
        </div>
      </div>
      <div class="home-banner--image-section">
        <img src="images/home.svg" alt="AfroHub | Network & Collaborate" />
      </div>
    </div>
  </div>
</section>

<section class="our-services">
  <div class="container">
    <div class="sub-title">What We Do</div>
    <div class="title">Creative Collaboration</div>
    <div class="caption">
      Our unrivalled contacts and connections fused into a versatile range of
      communication methods provide clients with creative solutions.
    </div>
    <div class="card-wrap">
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><img src="images/s1.png" alt="" /></div>
        <div class="title">Public Relations and Crisis Management</div>
        <div class="caption">
          At Curve, we help the media see why your story is emotionally
          engaging, relevant, newsworthy, entertaining and helpful to the
          readers, listeners and viewers.
        </div>
      </div>
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><img src="images/s2.png" alt="" /></div>
        <div class="title">Event Management and Promotion</div>
        <div class="caption">
          Our high management skills can be infused into corporate events,
          business meetings, trade shows, product announcements, private events,
          fundraisers and sporting events.
        </div>
      </div>
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><img src="images/s3.png" alt="" /></div>
        <div class="title">Digital Marketing and Graphic Design</div>
        <div class="caption">
          Positioning brand activities across digital platforms using the art of
          problem- solving (type, space and image) is vital as millennials have
          become a major demographic category.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="video-platform">
  <div class="container">
    <div class="sub-title">Connect</div>
    <div class="title">Companies, Products and Target Audiences</div>
    <ul>
      <li>
        <a target="_blank" href="https://www.facebook.com/curvenigeria/">
          <div class="icon facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/curvenigeria/">
          <div class="icon instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/curvenigeria">
          <div class="icon twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/company/curve-communications-ng/?viewAsMember=true"
        >
          <div class="icon linkedin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </div>
        </a>
      </li>
    </ul>
    <div class="iframe-wrap">
      <div class="iframe">
        <iframe
          width="1280"
          height="720"
          src="https://www.youtube.com/embed/64ZuR3MygHs"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="partners">
    <div class="title">Our Clients</div>
    <div class="wrapper page-slider">
      <div class="img">
        <img class="vodka" src="images/Absolut Vodka Logo.jpg" alt="" />
      </div>
      <div class="img">
        <img class="golden" src="images/Golden Penny Logo.jpg" alt="" />
      </div>
      <div class="img">
        <img class="peak" src="images/PEAK Logo.jpg" alt="" />
      </div>
      <div class="img">
        <img class="tecno" src="images/TECNO Logo.png" alt="" />
      </div>
      <div class="img">
        <img class="martell" src="images/MARTELL Logo.jpg" alt="" />
      </div>
      <div class="img">
        <img class="e-conext" src="images/E-conext Logo.png" alt="" />
      </div>
      <div class="img">
        <img class="happyness" src="images/happyness_logo.jpg" alt="" />
      </div>
      <div class="img">
        <img class="inyang" src="images/Inyang Logo.JPG" alt="" />
      </div>
      <div class="img">
        <img class="partyworld" src="images/landlotto.jpeg" alt="" />
      </div>
      <div class="img">
        <img class="span" src="images/SPAN Logo.JPG" alt="" />
      </div>
      <div class="img"><img class="sti" src="images/STI.png" alt="" /></div>
      <div class="img">
        <img class="audax" src="images/bricnet.jpeg" alt="" />
      </div>
      <div class="img">
        <img class="dancedeal" src="images/novarick.jpeg" alt="" />
      </div>
      <div class="img">
        <img class="hapa" src="images/HAPA-Awards.png" alt="" />
      </div>
      <div class="img">
        <img class="huawei" src="images/HUAWEI.png" alt="" />
      </div>
      <div class="img">
        <img class="lac" src="images/LAC-Trucks.png" alt="" />
      </div>
      <div class="img">
        <img class="random" src="images/global-interns.jpeg" alt="" />
      </div>
      <div class="img">
        <img class="turkish" src="images/Turkish-Cargo.png" alt="" />
      </div>
      <div class="img">
        <img class="ydx" src="images/YDx-Nigeria.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<script>
  var d = new Date();
  var n = d.getFullYear();
  document.getElementById('year').innerHTML = n;

  $('.page-slider').slick({
    dots: false,
    infinite: true,
    speed: 300,
    slidesToShow: 7,
    slidesToScroll: 4,
    autoplay: true,
    autoplaySpeed: 5000,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      }
    ]
  });
</script>
