<div class="about-us">
    <section class="about-us--banner" style="background-image: url('images/news.jpg')">
        <div class="title">
            Newsroom
        </div>
    </section>
</div>

<section class="our-services">
    <div class="container">
        <div class="sub-title">Features</div>
        <div class="title">Our Media Features</div>
        <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, odit  adipisicing elit. Eligendi, odit. </div>
        <div class="media-wrap">
            <div class="press-log guardian">
                <a target="_blank" href="https://guardian.ng/features/curve-communications-launches-firstinfo-distribution-service-for-smes/">
                    <img src="images/guardian.png" alt="guardian logo">
                </a>
            </div>
            <div class="press-log thisday">
                <a target="_blank" href="https://www.thisdaylive.com/index.php/2018/03/25/hollywood-and-african-prestigious-awards-appoints-curve-communications/">
                    <img src="images/thisday.png" alt="thisday logo">
                </a>
            </div>
            <div class="press-log bd">
                <a target="_blank" href="https://businessday.ng/arts-bdlife-arts/article/hollywood-set-partnership-nollywood-hapawards/amp/">
                    <img src="images/BD-Logo.png" alt="BDlogo">
                </a>
            </div>
            <div class="press-log newsexpress">
                <a target="_blank" href="https://newsexpressngr.com/news/50876-Hollywood-and-African-Prestigious-Awards-appoints-Curve-Communications-as-PR-Agency-38">
                    <img src="images/newsexpress_logo.png" alt="newsexpress_logo">
                </a>
            </div>
            <div class="press-log nig-com">
                <a target="_blank" href="https://www.nigeriacommunicationsweek.com.ng/curve-communications-launches-firstinfo-distribution-service-for-smes/?PageSpeed=noscript">
                    <img src="images/nig-communications-week.png" alt="nig-communications-week">
                </a>
            </div>
            <div class="press-log business">
                <a target="_blank" href="https://businesspost.ng/jobs/hapawards-appoints-curve-communications-official-pr-agency/">
                    <img src="images/Business-Post.png" alt="Business-Post">
                </a>
            </div>
            <div class="press-log techeconomy">
                <a target="_blank" href="https://techeconomy.ng/2018/03/curve-communications-launches-firstinfo-distribution-service-for-smes/">
                    <img src="images/techeconomy-logo.png" alt="techeconomy">
                </a>
            </div>
            <div class="press-log tnv">
                <a target="_blank" href="https://www.thenigerianvoice.com/amp/news/123167/curve-communications-others-bag-excellence-award.html">
                    <img src="images/tnv.png" alt="tnv">
                </a>
            </div>
            <div class="press-log BrandInfoLogo">
                <a target="_blank" href="https://www.brandinfo.com.ng/2015/01/curve-introduces-free-info-service-on.html?m=1">
                    <img src="images/BrandInfoLogo.jpg" alt="BrandInfoLogo">
                </a>
            </div>
            <div class="press-log mg">
                <a target="_blank" href="https://www.modernghana.com/news/486386/curve-communications-others-bag-excellence-award.html">
                    <img src="images/mg.png" alt="mg">
                </a>
            </div>
        </div>
    </div>
</section>
