<div class="about-us">
    <section class="about-us--banner" style="background-image: url('images/service.jpg')">
        <div class="title">
            Services
        </div>
    </section>
</div>

<section class="our-services">
    <div class="container">
        <div class="sub-title">What We Do</div>
        <div class="title">Creative Collaboration</div>
        <div class="caption">Our unrivalled contacts and connections fused into a versatile range of communication methods provides clients with creative solutions.</div>
        <div class="card-wrap">
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="icon"><img src="images/s1.png" alt=""></div>
                <div class="title">Public Relations and Crisis Management</div>
                <div class="caption">In Curve, we help the media see why your story is emotionally engaging, relevant, newsworthy, entertaining and helpful to their readers, listeners and viewers.</div>
            </div>
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="icon"><img src="images/s2.png" alt=""></div>
                <div class="title">Event Management and Promotion</div>
                <div class="caption">Our high management skills can be infused into corporate events, business
                    meetings, trade shows, product announcements, private events, fundraisers and
                    sporting events.</div>
            </div>
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="icon"><img src="images/s3.png" alt=""></div>
                <div class="title">Digital Marketing and Graphic Design</div>
                <div class="caption">Positioning brand activities across digital platforms using the art of problem-
                    solving (type, space and image) is vital as millennials have become a major
                    demographic category.</div>
            </div>
        </div>
    </div>
</section>